<!DOCTYPE html>
<html>
<head>
  <title>Stalker</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- https://blog.revillweb.com/bootstrap-tutorial-a-responsive-design-tutorial-with-twitter-bootstrap-3-cb6445c1e586#.tojotjrh4 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://maps.googleapis.com/maps/api/js?file=api&libraries=geometry&key=AIzaSyDAWH7ZG6MXwAcm9edMlFBe97GI8-hrrfQ&callback=start_func"
          async defer></script>
</head>
<body>
<!-- Top Bar -->
    <div id="menu">
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse target">
          <ul class="nav navbar-nav">
            <li><%= link_to "トップページ", root_url %></li>
              <!-- TODO: edit links -->
            <li><%= link_to "アカウント設定", root_url %></li>
            <% if logged_in? %>
            <li><%= link_to "ログアウト", logout_path %></li>
            <% else %>
            <li><%= link_to "Twitterでログイン", '/auth/twitter' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>


  <%= yield %>



</body>
</html>